trunk/whomp_cms/whomp/repository/whomp/node/frontpage/schema/relaxng.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id$ -->
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
	<start>
		<element name="whomp_node_frontpage">
			<attribute name="name">
				<data type="NCName"/>
			</attribute>
			<element name="title">
				<text/>
			</element>
			<element name="content">
				<text/>
			</element>
		</element>
	</start>
</grammar>